In [1]:
### ended at 4.3.5

# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type": "District"},
    {"High School": "Figueroa", "Type": "District"},
    {"High School": "Wilson", "Type": "Charter"},
    {"High School": "Wright", "Type": "Charter"}]

for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [ ]:
## A Pandas Series is a one-dimensional, labeled array capable of holding any data type. 
## This means the data is linear and has an index that acts as a key in a dictionary.

In [ ]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [ ]:
# Add the Pandas dependency
import pandas as pd

In [ ]:
# Create a Pandas Series from a list
## Series() is the function; pd is the alias we created which utilizes pandas; high_schools is the list provided
school_series = pd.Series(high_schools)
school_series

In [ ]:
for i in school_series:
    print(i)

In [3]:
## A Pandas DataFrame is a two-dimensional labeled data structure, like a dictionary, with rows and columns of potentially different data types such as strings, integers, and floats (decimal point numbers), where data is aligned in a table.
## A Python dictionary has a key and a value, or key-value pairs.

# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
    {"School ID": 2, "school_name": "Shelton High School", "type": "Charter"},
    {"School ID": 3, "school_name": "Hernandez High School", "type": "District"},
    {"School ID": 4, "school_name": "Griffin High School", "type": "Charter" }]

print(high_school_dicts)

[{'School ID': 0, 'school_name': 'Huang High School', 'type': 'District'}, {'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'}, {'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'}, {'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'}, {'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}]

In [ ]:
# Create a Pandas Dataframe from a list or dictionary
## DataFrame() is the function; pd is the alias we created which utilizes pandas; high_school_dicts is the dictionary that i created above
## school_df is a variable that i created and can name whatever i want

school_df = pd.DataFrame(high_school_dicts)
school_df

In [ ]:
# Three separate lists of information on high schools
## these are three separate series that we can use to initialize a DataFrame

school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [ ]:
## create an empty dataframe similar to creating an empty list or dictionary
schools_df = pd.DataFrame()

In [ ]:
## think of the string in the brackets as the column header in a spreadsheet
## i can literally call the string in brackets whatever i want
## school_id and the other variables are the lists that i just created
## by adding the individual lists or series into my schools_df DataFrame, i'm creating key:value pairs

schools_df["thug lyfe"] = school_id
schools_df["bruh"] = school_name
schools_df["wtf"] = type_of_school

schools_df

In [ ]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
i_hate_school_df = pd.DataFrame(high_schools_dict)
i_hate_school_df

In [ ]:
## .columns attribute displays the column expected column names
school_df.columns

In [ ]:
## .index attribute displays the beginning and end of an index as well as the index increments
school_df.index

In [ ]:
## .values will  display an array of all the values but without the column names
school_df.values

In [ ]:
# create new Pandas DataFrame
## 1. create a dictionary with key value pairings from the sheet
## 2. create a new variable that initializes the Panda DataFrame
## 3. print new data frame variable


new_schools_dict = ({"School ID": 0, "school_name": "Huang High School", "type": "District"},
 {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
 {"School ID": 2, "school_name": "Shelton High School", "type": "Charter"})

new_schools_df = pd.DataFrame(new_schools_dict)
new_schools_df